.container {
	width: 100%;
	height: 100%;
}

.navigation {
	width: 16%;
	height: 100%;
	position: absolute;
	left:0;
	top: 0;
	background: #2F4050;
	overflow: scroll;
}

.nav_container {
	width: 200px;
}

.content {
	width: 85%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 15%;
	z-index: 10;
}

.content .header {
	width: 100%;
	height: 60px;
	background: #F3F3F4;
}

.content .header .user_info {
	float: right;
	line-height: 60px;
	margin-right: 100px;
}
.nav_container {
	width: 200px;
}

.frame_main {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	padding-top: 60px;
}
