<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eot.model.TeacherClass">
    <resultMap type="TeacherClass" id="TeacherClassMap">
    	<id column="evaluation_no" property="evaluationNo"/>
        <result column="teacher_no" property="teacherNo"/>
        <result column="course_no" property="courseNo"/>
        <result column="year" property="year"/>
        <result column="term" property="term"/>
        <result column="class_no" property="classNo"/>
        <result column="deptName" property="deptName"/>
        <result column="teacherName" property="teacherName"/>
        <result column="courseName" property="courseName"/>
        <result column="grade" property="grade"/>
        <result column="class_index" property="classIndex"/>
        <result column="majorName" property="majorName"/>
    </resultMap>

	<select id="findAllTeacherClass" parameterType="map" resultMap="TeacherClassMap">
            SELECT teacher_class.evaluation_no,dept.name deptName, teacher_class.teacher_no, user.name teacherName,
            		year, term,  teacher_class.course_no, course.course_name courseName, 
            		class.class_no, class.grade, major.`name` majorName, class.class_index
            FROM teacher_class, teacher, dept, user, course, class, major
            WHERE
            	teacher_class.teacher_no = teacher.teacher_no
            AND
            	user.user_no = teacher_class.teacher_no
            AND
            	dept.dept_no = teacher.dept_no
            AND 
           		teacher_class.course_no = course.course_no
			AND
				teacher_class.class_no = class.class_no
			AND
				class.major_no = major.major_no
            <choose>
            	<when test="teacherNo != null">
            		AND teacher_class.teacher_no = #{teacherNo}
            	</when>
            	<otherwise>
            		<if test="year != null">
            			AND year = #{year}
            		</if>
            		<if test="term != null">
            			AND term = #{term}
            		</if>
            		<if test="dept != null">
            			AND dept.dept_no = #{dept}
            		</if>
            	</otherwise>
            </choose>
            ORDER BY evaluation_no desc
            LIMIT #{offset},#{pageSize}
    </select>

	<select id="getTotalCount" parameterType="map" resultType="int">
            SELECT count(1) num
            FROM teacher_class, teacher, dept, user, course, class, major
            WHERE
            	teacher_class.teacher_no = teacher.teacher_no
            AND
            	user.user_no = teacher_class.teacher_no
            AND
            	dept.dept_no = teacher.dept_no
            AND 
           		teacher_class.course_no = course.course_no
			AND
				teacher_class.class_no = class.class_no
			AND
				class.major_no = major.major_no
            <choose>
            	<when test="teacherNo != null">
            		AND teacher_class.teacher_no = #{teacherNo}
            	</when>
            	<otherwise>
            		<if test="year != null">
            			AND year = #{year}
            		</if>
            		<if test="term != null">
            			AND term = #{term}
            		</if>
            		<if test="dept != null">
            			AND dept.dept_no = #{dept}
            		</if>
            	</otherwise>
            </choose>
    </select>
   
</mapper>
